<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}txtbranch{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Gabicoware, LLC">
    <script>var textareas=[];</script>
    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #user_nav {
        width:300px;
        margin-left:600px;
        margin-right:0px;
        float:right;
      }
      .brand, .navbar {
      	font-family: "Courier New", Courier, serif ;
      }
    </style>
    
    {% block additional_header %}{% endblock %}
    
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    -->
  </head>
  <body>
  
  
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">txtbranch</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {% if is_home %}class="active"{% endif %}><a href="/">Home</a></li>
              <li {% if is_about %}class="active"{% endif %}><a href="/about">About</a></li>
              <li><a href="{{ session_info.url|safe }}">{{ session_info.link_text }}</a></li>
            </ul>
            {% if session_info.profile_url %}
            <p class="navbar-text pull-right">
              welcome back, <a href="{{ session_info.profile_url }}" class="navbar-link">{{ session_info.profile_text }}</a>
            </p>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container">{% block content %}{% endblock %}</div>
    
    <script type="text/javascript" src="/assets/js/jquery.form.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.maxlength-min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-collapse.js"></script>
  </body>
</html>
{% endautoescape %}
