{% extends "base.html" %}

{% block additional_header %}

{% endblock %}


{% block content %}
	<h5>Stories</h5>
    {% for story in stories %}
	<a href="/story/{{story.name}}">{{story.name}}</a>
    <br />
    {% endfor %}
	<h5>Recent Pages</h5>
    {% for pagedata in pagedatas %}
    <div class="page_link">
    <a href="/page#page_key={{pagedata['page_key']}}">{{pagedata['link']}}</a> ({{pagedata['score']}})<br />
    </div>
    <br />
    <div style="font-size: smaller">
    	branched {{pagedata['time_ago']}} by 
    	<a href="/user/{{pagedata['authorname']}}">{{pagedata['authorname']}}</a> to 
    	<a href="/story/{{pagedata['story_name']}}">{{pagedata['story_name']}}</a>
    </div>
    {% endfor %}
{% endblock %}
