{% extends "base.html" %}

{% block additional_header %}

{% endblock %}


{% block content %}
	<div class="first_time">
		First time here? To get familiar, take a look at <a href="/story/OnceUponATime">OnceUponATime</a>
	</div>
    {% for story in stories %}
	<div class="story_header">
		<span class="story_header_name"><a href="/story/{{story_name}}">{{story.name}}</a></span> 
		<span class="story_header_info">moderated by <a href="/user/{{story.moderatorname}}">{{story.moderatorname}}</a></span></div>
    <div class="page_link indent">
    &darr; <a href="/story/{{story.name}}">{{pagedatas[story.name]['link']}}</a><br />
    </div>
    <br />
    {% endfor %}
{% endblock %}
