{% extends "base.html" %}

{% block additional_header %}
    
    <script type="text/javascript">
    	var config = {
    		'link_max' : parseInt('{{link_max}}'),
    		'content_max' : parseInt('{{content_max}}')
    	};
    </script>
    <script type="text/javascript" src="/assets/js/page.js"></script>
    <script id="parent_page_template" type="text/template">
        <div class="parent_page_link" >
            &uarr; <a href="javascript:void(0)" onclick="openParentPage('##page.key##')">##page.link##</a>
        </div>
        <hr />
    </script>
    <script id="page_template" type="text/template">
    	<div id="##page_div_id##">
	    	<div>
	            <div class="page_link" >
	                <a href="javascript:void(0)" onclick="returnToPage('##page.key##')">##page.link##</a>
	            </div>
	            <div class="page_info">
	                <div id="##like_div_id##" class="like_div vote" onclick="toggleLike('##page.key##',1);" > </div>
	                <div id="##unlike_div_id##" class="unlike_div vote" onclick="toggleLike('##page.key##',-1);" > </div>
	                <div class="stats">
	                    ( <span id="page_count_span">##page.child_count##</span> / <span id="##like_count_span_id##" >0</span> / <span id="##unlike_count_span_id##" >0</span> ) 
	                </div>
	                ##author_info##
	            </div>
	        </div>
	        <div class="page_content">##page.content##</div>
	        <br />
       	</div>
    </script>
    <script id="branch_link_template" type="text/template">
        <div class="branch_link">
            <a href="javascript:void(0)" onclick="openPage('##page.key##')">##page.link##</a> <span>( ##page.score## )</span><br />
        </div>
    </script>
    <script id="no_links_template" type="text/template">
	    <div class="no_links">
    	    This page does not have any branches yet. You should add one!<br />
        </div>
    </script>
    <script id="has_links_template" type="text/template">
	    <div class="invalid">##message##</div>
    </script>
    <script id="add_branch_form_template" type="text/template">
        <b>Add a Branch</b>
        <form id="##page.key##_child_add_page_form" action="/api/v1/pages" method="post">
            <input name="parent_page_key" type="hidden" value="##page.key##" />
            <div id="show_conventions_div">
                <a href="javascript:void(0)" onclick="showConventions()" style="font-size:smaller">(show conventions)</a>
            </div>
            <div id="hide_conventions_div">
                Story Conventions <a href="javascript:void(0)" onclick="hideConventions()" style="font-size:smaller">(hide)</a>
            </div>
            <div id="conventions_div">
		        <pre class="form_conventions" >{{story.conventions}}</pre>
            </div>
            <br />
            <div>
                <label for="##page.key##_child_link">Link</label>
            </div>
            <div>
                <input class="form_link" id="##page.key##_child_link" name="link" rows="1" type="text" />
            </div>
            <br />
            <div>
                <label for="##page.key##_child_content">Content</label>
            </div>
            <div>
                <textarea class="form_content" id="##page.key##_child_content" name="content" rows="3" cols="60" ></textarea>
            </div>
            <br />
            <div>
            	<input type="button" value="Cancel" onclick="showAddPageLink()"> 
            	&nbsp; 
            	<input type="submit" value="Add Page"></div>
        </form>
    </script>
    <script id="must_login_template" type="text/template">
        <span class="invalid">
        	You must <a href="{{ session_info.url|safe }}">{{ session_info.link_text }}</a> to add a Page.
        </span>
    </script>
    
{% endblock %}

{% block content %}
        <h2>{{story.name}}</h2>
        <div id="parent_container"></div>
        <div id="content_container"></div>
        <div style="font-size:smaller" >
            &darr; <span id="branch_count_span"></span> branches
        </div>
        <div id="link_container"></div>
        <br />
        <div class="branch_link" id="add_page_link">
	        <a href="javascript:void(0)" onclick="updateAddPageDiv();">+ Add a Branch</a>
        </div>
        <div id="add_page_div" class="add_page_inactive"></div>
        <script>
        	
        	var page_key = getParameterByName("page_key");
        	
        	if(page_key == null || page_key ==""){
        		page_key = "{{root_page_key.urlsafe()}}";
        	}
        	
        	if (page_key != "") {
	            $.get('/api/v1/pages?page_key='+page_key, function(data) {
	            	var jsondata = JSON.parse(data);
	            	if(jsondata.result.length == 1){
	            		var page = jsondata["result"][0];
	            		page_cache[page.key] = page;
				        openPage(page.key);
	            	}
	            });
        	};
        	
        
        </script>
{% endblock %}
