div.title {display:block;}
div.no_links{color:#888888;font-style:italic}
.chars_left{
	font-size:90%; 
	text-align:right; 
	width:100%;
	max-width:600px;
	position: relative; 
	top: -20px; 
	pointer-events: none;
	margin-bottom:-25px;
}
input.invalid{background-color:#FF8888}
textarea.invalid{background-color:#FF8888}
.form_link, .form_content, .form_conventions{ margin-bottom:2px; width:100%; max-width:600px;}
.form_link, .form_link_hint{
	color:blue;
}
.form_content_hint, .form_link_hint{
	opacity:0.5;
	position: relative;
	top: 25px;
	left: 7px;
	margin-top:-20px;
	pointer-events: none;
}
a.vote:hover {text-decoration:none;}

div.invalid{
	background-color:#FF8888
}
span.invalid{
	display:inline-block;
	background-color:#FFCCCC;
}
div.vote{
    display:inline-block;
    cursor:pointer;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    width:16px;
    height:16px;
}

.touch .vote{
    width:22px;
    height:22px;
}

div.branch_content{
word-break: normal;
word-wrap: hyphenate;
white-space: pre;
white-space: pre-wrap;
}
div.like_inactive{
    background-image:url("/assets/img/upvote_normal.png");
}
div.unlike_inactive{
    background-image:url("/assets/img/downvote_normal.png");
}
div.like_active{
    background-image:url("/assets/img/upvote_on.png");
}
div.unlike_active{
    background-image:url("/assets/img/downvote_on.png");
}
div.stats{
    display:inline-block;
    height:20px;
    font-size:16pt;
}
div.branch_link{
	display:block;
}
div.branch_link a{
	font-size:larger;
}
div.branch_link span{
	font-size:smaller;
}
div.branch_text{
	display:block;
}

div.indent{
	margin-left:20px;
}
div.first_time{
	display: block;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 5px 5px 5px;
	max-width:500px;
}
div.tree_header{
	padding: 16px 0px 0px 0px;
	font-weight:bolder;
}

span.tree_header_name{
	font-size:large;
}
span.tree_header_info{
	font-size:normal;
}
div.byline{
	display:inline;
}
div.recent_branchs{
	padding:4px 0px 4px 0px;
	font-size:smaller;
	font-weight:bold;
}
#link_container, #add_branch_link{
	padding:0px 0px 0px 0px;
	margin-left:20px;
}
div.branch_link_info, div.branch_info{
	font-size:larger;
	color:#555555;
}
div.branch_info{
	display:none;
}
.active_branch div.branch_info{
	display:block;
}

div.divider{
	height:1px;
	width:100%;
	background-color:#BBBBBB;
	margin-bottom:2px;
}

.subcontainer{
	max-width:480px;
}
.conventions{
	background-color: #EEEEEE;
	padding: 5px 5px 5px 5px;
	max-width: 480px;
	margin: 0px -5px 5px -5px;
}
.active_branch, .branch{
	padding: 0px 10px 0px 10px;
	margin: 2px -10px 2px -10px;
	border-radius: 10px;
}
/* hover is retained in same location after touch */
.notouch .branch:hover{
	background-color:#FFFCBE;
}
.branch{
	background-color:#FFFFFF;
}
.active_branch, .active_branch:hover, .notouch .active_branch:hover{
	background-color: #EEEEEE;
}

@media (min-width: 820px) {
	.conventions{
		position: absolute;
		width: 200px;
		margin-left: 500px;
	}
}
@media (max-width: 479px) {
	.container{
		padding-left:0px;
	}
	div.branch_info{
		padding:1px 1px 1px 1px;
		line-height: 17px;
	}
}