div.title {display:block;}
div.no_links{color:#888888;font-style:italic}
.chars_left{font-size:90%; text-align:right; width:100%; max-width:600px;}
input.invalid{background-color:#FF8888}
textarea.invalid{background-color:#FF8888}
.form_link, .form_content, .form_conventions{ margin-bottom:2px; width:100%; max-width:600px;}
a.vote:hover {text-decoration:none;}

div.invalid{
	background-color:#FF8888
}
span.invalid{
	display:inline-block;
	background-color:#FFCCCC;
}
div.vote{
    display:inline-block;
    width:8px;
    height:10px;
    cursor:pointer;
    background-size:contain;
}
div.branch_content{
word-break: normal;
word-wrap: hyphenate;
white-space: pre;
white-space: pre-wrap;
}
div.like_inactive{
    background-image:url("/assets/img/up_arrow_gray.png");
}
div.unlike_inactive{
    background-image:url("/assets/img/down_arrow_gray.png");
}
div.like_active{
    background-image:url("/assets/img/up_arrow_green.png");
}
div.unlike_active{
    background-image:url("/assets/img/down_arrow_red.png");
}
div.stats{
    display:inline-block;
    height:20px;
}
div.branch_link{
	display:block;
}
div.branch_link a{
	font-size:larger;
}
div.branch_link span{
	font-size:smaller;
}
div.branch_text{
	display:block;
}

div.indent{
	margin-left:20px;
}
div.first_time{
	display: block;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 5px 5px 5px;
	max-width:500px;
}
div.tree_header{
	padding: 16px 0px 0px 0px;
	font-weight:bolder;
}

span.tree_header_name{
	font-size:large;
}
span.tree_header_info{
	font-size:normal;
}
div.byline{
	
}
div.recent_branchs{
	padding:4px 0px 4px 0px;
	font-size:smaller;
	font-weight:bold;
}
#link_container, #add_branch_link{
	padding:0px 0px 0px 0px;
}
div.branch_link_info, div.branch_info{
	display:block;
	float:left;
	text-align: right;
	font-size:smaller;
	color:#555555;
	width:100px;
}
div.branch_info{
	min-height:30px;
}
@media (min-width: 980px) {
	.container{
		padding-left:100px;
	}
	div.branch_info, div.branch_link_info{
		margin-left:-110px;
		width:100px;
	}
}
@media (max-width: 978px) and (min-width:480px) {
	.container{
		padding-left:80px;
	}
	div.branch_info, div.branch_link_info{
		margin-left:-60px;
		width:50px;
	}
}
@media (min-width:480px) {
	div.branch_info, div.branch_link_info{
		opacity:0.8;
		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s; /* Safari */
	}
	div.branch_info:hover, div.branch_link_info:hover{
		opacity:1.0;
	}
	div.branch_info_handle{
		display:none;
	}
}
@media (max-width: 479px) {
	.container{
		padding-left:0px;
	}
	div.branch_info{
		display:block;
		position:absolute;
		z-index:2;
		margin-left:-133px;
		margin-top:0px;
		width: 120px;
		padding-left: 10px;
		padding-right: 20;
	    border-color: #AAAAAA;
		border-width: 1px 1px 1px 0px;
	    border-style: solid;
		border-radius: 0px 4px 4px 0px;
		background-color: #FFFFFF;
		line-height: 17px;
		transition: margin-left 1s;
		-webkit-transition: margin-left 1s; /* Safari */
	}
	div.branch_info_handle{
		display:block;
		position:absolute;
		margin-left:110px;
		margin-top:-30px;
		width: 0px;
		height: 20px;
	    border-color: #AAAAAA;
		border-width: 2px;
	    border-style: solid;
		border-radius: 2px;
		background-color: #AAAAAA;
	}
	body.touch div.active_branch_info, body.notouch div.branch_info:hover{
		margin-left:-20px;
	}
	div.branch_link_info{
		margin-left:-60px;
		width:50px;
	}
	div.unlike_div, div.byline{
		margin-right:20px;
	}
}