{% extends "base.html" %}

{% block additional_header %}

{% endblock %}


{% block content %}
    
    <h1>About</h1>
    
    <p>txtbranch is a collaborative writing environment. Like a wiki, it is meant to allow any 
    	user to contribute. A set of system rules is meant to organize the collaboration.</p>
    
    <h3>Alpha</h3>
    
    <p>We're in alpha. Access to this website may be limited or withdrawn at any time.</p>
    
    <h3>Definitions</h3>
    
    <p><b>Tree</b> - a tree is a story, or rather set of stories that originate from a single point.
    	A tree is made of many branches, which split or continue the previous branch. Every tree
    	has a first or root branch.</p>
    
    <p><b>Branch</b> - a branch is a segment on a tree. On txtbranch, a branch is composed of a teaser
    	which readers can see when they are selecting between branches, and the text which 
    	contains the rest of the branch.</p>
    
    <h3>How to get started</h3>
    
    <p>Click on home and open one of the trees. Select the branch that you think is best.
    	follow that until there are no more branches to open. You can then go back earlier in
    	the tree and follow a different branch.</p>
    
    
    <h3>Source</h3>
    <p>txtbranch is open sourceand available on github: 
    	<a href="https://github.com/Gabicoware/txtbranch">https://github.com/Gabicoware/txtbranch</a></p>
    
    <h3>License</h3>
    
    <p>The text of txtbranch is copyrighted (automatically, under the Berne Convention) by txtbranch 
    	editors and contributors and is formally licensed to the public under the 
    	<a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">
    		Creative Commons Attribution-Sharealike 3.0 Unported License</a> (CC-BY-SA).
    </p>
    
{% endblock %}
