<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}txtbranch{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Gabicoware, LLC">
    <script>var textareas=[];</script>
    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #user_nav {
        width:300px;
        margin-left:600px;
        margin-right:0px;
        float:right;
      }
      .brand, .navbar {
      	font-family: "Courier New", Courier, serif ;
      }
    </style>
    
    {% block additional_header %}{% endblock %}
    
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/txtbranch.main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    -->
    <script id="user_item_template" type="text/template">
    	<p class="navbar-text pull-right">
              welcome back, <a href="/user/##username##" class="navbar-link">##username##</a>
        </p>
    </script>
    <script id="add_tree_template" type="text/template">
		<li id="add_tree_li"><a href="/tree/new">+ tree</a></li>
    </script>
    <script id="login_template" type="text/template">
		<a href="/login">Login</a>
    </script>
    <script id="logout_template" type="text/template">
		<a href="/logout">Logout</a>
    </script>

  </head>
  <body>
  
  
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">txtbranch</a>
          <div class="nav-collapse collapse" id="navbaritems">
            <ul id="nav_ul" class="nav">
              <li id="home_li"><a href="/">Home</a></li>
              <li id="about_li"><a href="/about">About</a></li>
              <li id="login_li"></li>
            </ul>
          </div><!--/.nav-collapse -->
		  <script>
		    function updateNavBarItems(){
				
				var username = $.cookie("username");
				
				if(isLoggedIn()){
			    	var template = $("#user_item_template").html();
				    template = template.replace(/##username##/g, username);
				    $("#navbaritems").append(template);
				    
				    $("#nav_ul").append($("#add_tree_template").html());
				    $("#login_li").empty();
				    $("#login_li").append($("#logout_template").html());
				}else{
				    $("#login_li").empty();
				    $("#login_li").append($("#login_template").html());
				}
				
				if(location.pathname == "/"){
					$("#home_li").addClass("active");
				}
				if(location.pathname == "/about"){
					$("#about_li").addClass("active");
				}
		    }
		    
		    function isLoggedIn(){
		    	{% if logged_in %}
		    	var is_logged_in = true;
			    {% else %}
		    	var is_logged_in = false;
			    {% endif %}
		    	var username = $.cookie("username");
				return is_logged_in && username != null && username != "";
		    }
		  </script>
        </div>
      </div>
    </div>
    
    <div class="container">{% block content %}{% endblock %}</div>
    
    <script type="text/javascript" src="/assets/js/jquery.form.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.maxlength-min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-collapse.js"></script>
    <script>
    	updateNavBarItems();
    	if('ontouchstart' in document.documentElement){
	    	$('body').addClass('touch');
    	}else{
	    	$('body').addClass('notouch');
    	}
    </script>
  </body>
</html>
{% endautoescape %}
