{% extends "base.html" %}

{% block additional_header %}

{% endblock %}


{% block content %}
	<div class="first_time">
		First time here? To get familiar, take a look at <a href="/about">About</a>
	</div>
    {% for tree in trees %}
	<div class="tree_header">
		<span class="tree_header_name"><a class="name" href="/tree/{{tree.name}}">{{tree.name}}</a></span> 
		<span class="tree_header_info">moderated by <a class="name" href="/user/{{tree.moderatorname}}">{{tree.moderatorname}}</a></span></div>
    <div class="branch_link indent">
    &darr; <a href="/tree/{{tree.name}}">{{branchdatas[tree.name]['link']}}</a><br />
    </div>
    <br />
    {% endfor %}
{% endblock %}
