{% extends "base.html" %}

{% block additional_header %}
    
    <script type="text/javascript" src="/assets/js/util.js"></script>
    <script type="text/javascript" src="/assets/js/tree.js"></script>
    <script id="parent_branch_template" type="text/template">
        <div class="parent_branch_link" >
            &uarr; <a href="javascript:void(0)" onclick="openParentBranch('##branch.key##')">##branch.link##</a>
        </div>
        <hr />
    </script>
    <script id="branch_template" type="text/template">
    	<div id="##branch_div_id##" class="branch" onclick="toggleActivateBranch('##branch.key##')">
            <div class="branch_text" >
	            <div class="branch_link" >
	                <a href="javascript:void(0)" onclick="returnToBranch('##branch.key##')">##branch.link##</a>
	            </div>
		        <div class="branch_content">##branch.content##</div>
	        </div>
        	<!--
            <div class="branch_info" onclick="branchInfoClickHandler(event)">
            	<div class="divider" > </div>
            	
                <div id="##like_div_id##" class="like_div vote" onclick="toggleLike('##branch.key##',1);" > </div>
                <div class="stats" id="##score_span_id##" >##branch.score##</div>
                <div id="##unlike_div_id##" class="unlike_div vote" onclick="toggleLike('##branch.key##',-1);" > </div>
                by
                <div class="byline">##author_info##</div>
            </div>
           -->
       	</div>
    </script>
    <script id="edit_branch_form_template" type="text/template">
        <form id="##branch.key##_edit_branch_form" action="/api/v1/branchs" method="put">
            <input name="key" type="hidden" value="##branch.key##" />
            <div>
                <div class="form_link_hint" id="##branch.key##_link_hint" > &nbsp; </div>
                <textarea class="form_link" id="##branch.key##_link" name="link" rows="1" cols="60" >##branch.link##</textarea>
            </div>
            <div>
                <div class="form_content_hint" id="##branch.key##_content_hint" > &nbsp; </div>
                <textarea class="form_content" id="##branch.key##_content" name="content" rows="3" cols="60" >##branch.content##</textarea>
            </div>
            <br />
            <div>
            	<input type="button" value="Cancel" onclick="editActiveBranch(false)"> 
            	&nbsp; 
            	<input type="submit" value="Update"></div>
        </form>
    </script>
    <script id="branch_link_template" type="text/template">
        <div class="branch_link">
        	<!--
            <div id="##like_div_id##" class="like_div vote" onclick="toggleLike('##branch.key##',1);" > </div>
            <div class="stats" id="##score_span_id##" >##branch.score##</div>
            <div id="##unlike_div_id##" class="unlike_div vote" onclick="toggleLike('##branch.key##',-1);" > </div>
            :-->
            <a href="javascript:void(0)" onclick="openBranch('##branch.key##')">##branch.link##</a>
        </div>
        <div style="font-size:smaller; font-style: italic;" >
            or
        </div>
    </script>
    <script id="no_links_template" type="text/template">
	    <!--<div class="no_links">
    	    This branch does not have any branches yet. You should add one!<br />
        </div>-->
    </script>
    <script id="has_links_template" type="text/template">
	    <div class="invalid">##message##</div>
    </script>
    <script id="add_branch_form_template" type="text/template">
        <b>Add a Branch</b>
        <form id="##branch.key##_child_add_branch_form" action="/api/v1/branchs" method="post">
            <input name="parent_branch_key" type="hidden" value="##branch.key##" />
            <div>
                <div class="form_link_hint" id="##branch.key##_child_link_hint" >##tree.link_prompt##</div>
                <textarea class="form_link" id="##branch.key##_child_link" name="link" rows="1" cols="60" ></textarea>
            </div>
            <div>
                <div class="form_content_hint" id="##branch.key##_child_content_hint" >##tree.content_prompt##</div>
                <textarea class="form_content" id="##branch.key##_child_content" name="content" rows="3" cols="60" ></textarea>
            </div>
            <br />
            <div>
            	<input type="button" value="Cancel" onclick="showAddBranchLink()"> 
            	&nbsp; 
            	<input type="submit" value="Add Branch">
            </div>
        </form>
    </script>
    <script id="must_login_template" type="text/template">
        <span class="invalid">
        	You must <a href="/login">Login</a> to add a Branch.
        </span>
    </script>
    <script id="has_child_branchs_template" type="text/template">
        <span class="invalid">
        	You have already added the maximum number of child branches.
        </span>
    </script>
    <script id="show_invalid_branch_template" type="text/template">
        <span class="invalid">
        	The parent branch must be completed before adding a child.
        </span>
    </script>
    <script id="byline_template" type="text/template">
    	by <a class="name" href="/user/##username##">##username##</a>
    </script>
    <script id="base_content_template" type="text/template">
	    <h2 id="tree_name"></h2>
		<div class="conventions">
			<h4>about</h4>
			<div id="tree_conventions">
			</div>
		</div>
		<div class="subcontainer">
	        <div id="parent_container"></div>
	        <div id="content_container"></div>
	        <div class="byline" style="font-size:smaller; text-align:right;" >
	        	<span id="current_branch_owner_options_span">
	            	<a href="javascipt:void(0)" onclick="editActiveBranch(true)">edit</a>
	            </span>
	        	<span id="current_branch_byline"></span>
	        	<br />
	        </div>
	        <div id="edit_branch_div" class="edit_branch_inactive"></div>
		    <div id="no_children_branch_div" style="font-size:smaller; font-style: italic;" >
		    	Branch waiting for additional content
		    </div>
		    <div id="child_branches_div">
		        <div style="font-size:smaller; font-style: italic;" >
		            What happens next?
		        </div>
		        <div id="link_container"></div>
		        <div class="branch_link" id="add_branch_link">
			        <a href="javascript:void(0)" onclick="updateAddBranchDiv();"> &darr; Add a Branch</a>
		        </div>
		        <div id="add_branch_div" class="add_branch_inactive"></div>
	        </div>
	        <br />
		</div>
    </script>
    <script id="tree_not_found_template" type="text/template">
    	<h3>##tree_name## could not be found.</h3>
    </script>
    
    
{% endblock %}

{% block content %}
	<div id="tree_content">
    </div>
    <script>
	    //kickoff
    	loadTree();    	
    </script>
{% endblock %}
