{% extends "base.html" %}


{% block content %}
    
{% block name_header %}
    <h4>{{user_info.username}}</h4>
{% endblock %}

    <h4>Response Branchs</h4>
    {% for branch in branch_branchs %}
    <div class="branch_link">
        <a href="/tree/{{ branch.tree_name }}#branch_key={{branch.key.urlsafe()}}">{{ branch.link }}</a> by 
        <a href="/user/{{branch.authorname}}">{{branch.authorname}}</a> in 
        <a href="/tree/{{ branch.tree_name }}">{{branch.tree_name}}</a><br />
    </div>
    {% endfor %}
    
    <h4>Branchs</h4>
    {% for branch in branchs %}
    <div class="branch_link">
        <a href="/tree/{{ branch.tree_name }}#branch_key={{branch.key.urlsafe()}}">{{ branch.link }}</a> ( {{branch.score()}} )<br />
    </div>
    {% endfor %}


{% endblock %}
